<!DOCTYPE html>
<html>
  <head>
    <title>All the Silincon Valley episodes</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>All the <%= data.name %> episodes</h1>
    <p>Genre: <%= data.genres %></p>
  </body>
</html>
